{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Matheus Bento - Portifólio: Desenvolvedor {% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'logo/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;400;500;600;700&family=Dancing+Script:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/1585978672.js" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

<header id="head">

    <img src="{% static 'logo/logotipo.png' %}" height="40" alt="logotipo Matheus Bento">
    <div>
        <ul class="menu">
            <li><a href="{% url 'index' %}#head">home</a></li>
            <li><a href="{% url 'index' %}#about">about</a></li>
            <li><a href="{% url 'index' %}#projects">projects</a></li>
            <li><a href="{% url 'index' %}#contact">contact</a></li>
        </ul>
    </div>

</header>

<main>
    {% block content %}

        <div class="container start">
            <img id="perfil" src="{% static 'images/matheus.jpeg' %}" width="150" alt="foto de matheus">
            <div>
                <h1>Hello, I'm Matheus</h1>
                <p>
                    Developer and addicted in challenges, with experience in web developer,<br> native mobile
                    applications,
                    data analysis and machine learning.
                </p>
            </div>
        </div>

        <div id="about">
            <h2><span>About Me</span></h2>

            <div class="container space-around ">
                <div id="experience">
                    <h3>Experience</h3>
                    <p class="me">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra, libero sit
                        amet
                        fermentum consectetur, nulla enim tempor diam, in accumsan eros nisl ut erat. Morbi sit amet
                        nisl varius, sollicitudin risus eget, finibus sapien. </p>
                    <br>
                    <p class="me">
                        Pellentesque nisl magna, faucibus a lacus vel, fermentum aliquet nibh. Quisque dui nisl, luctus
                        id imperdiet sed, aliquet sit amet mauris. Integer metus odio, sagittis vitae orci a, blandit
                        blandit felis. Praesent sodales ullamcorper purus.</p>
                </div>
                <div id="skills">
                    <h3>Skills</h3>
                    <div class="container-grid">
                        {% for tool in tools %}
                            <div class="skill">{{ tool.name }}</div>
                        {% endfor %}
                    </div>

                </div>

            </div>

        </div>

        <div>
            <h2><span id="projects">Projects</span></h2>

            {% for project in projects %}

                <div class="container space-evenly m-b">

                    <img src="{{ project.tumb.url }}" width="30%" alt="placa de carro reconhecida">
                    <div class="project-detail">
                        <h4>{{ project.title }}</h4>
                        <p class="m-tb">{{ project.description }}</p>
                        <a class="btn" href="{% url 'detail_project' project.pk %}">View more</a>
                    </div>
                </div>

            {% endfor %}

        </div>

        <div id="contact">
            <h2><span>Contact</span></h2>
            <div class="card">
                <form>
                    <div>
                        <input type="text" placeholder="nome">
                        <input type="email" placeholder="email">
                        <input type="text" placeholder="mensagem">
                    </div>
                    <div class="container">
                        <button>Enviar</button>
                    </div>
                </form>
            </div>

        </div>


    {% endblock %}
</main>

<footer>

    <div class="container space-between">

        <div>
            <h5>Matheus Bento</h5>
            <p class="footer-p">
                Developer and addicted in challenges, with experience in web developer,<br> native mobile
                applications, data analysis and machine learning.
            </p>
        </div>
        <div>
            <h5>Social</h5>
            <p>
                <a href="https://github.com/Matheus51bento" target="_blank"><i class="fa-brands fa-github fa-lg m-r" style="color: #ffffff;"></i></a>
                <a href="https://www.linkedin.com/in/matheus-bento-2a63561a3/" target="_blank"><i class="fa-brands fa-linkedin fa-lg m-r" style="color: #ffffff;"></i></a>
                <a href="https://www.instagram.com/jos3matheus/" target="_blank"><i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i></a>
            </p>
        </div>
    </div>

    <hr>
    <p>© Copyright 2023. Made By <b>José Matheus Bento</b></p>

</footer>

</body>
</html>